@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import './fonts.css'; */
@font-face {
    font-family: 'Lato';
    src: url('../font/lato/Lato-thin-100.woff2');
    font-weight: 100;
}
@font-face {
    font-family: 'Lato';
    src: url('../font/lato/Lato-Light-300.woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'Lato';
    src: url('../font/lato/Lato-Regular-400.woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Lato';
    src: url('../font/lato/Lato-Bold-700.woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'Lato';
    src: url('../font/lato/Lato-Black-900.woff2');
    font-weight: 900;
}
@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto/Roboto-Thin-100.woff2');
    font-weight: 100;
}
@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto/Roboto-Italic.woff2');
    font-weight: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto/Roboto-Light-300.woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto/Roboto-Regular-400.woff2');
    font-weight: 400;
} 
@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto/Roboto-Medium-500.woff2');
    font-weight: 500;
} 
@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto/Roboto-Bold-700.woff2');
    font-weight: 700;
} 
@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto/Roboto-Black-900.woff2');
    font-weight: 900;
} 

:root {
    --etalon-yellow: #FDDE67;
    --etalon-yellow-hover: #FFEB9D;
    --etalon-green: #2A4032;
    --etalon-green-dark: #1B2D22;
    --etalon-green-badge: #3A5E46;
    --etalon-teal: #3A5E46;
    --etalon-white: #fff;
    --etalon-gray: #C5C2CA;
    --etalon-primary: #3B5F47;
    --etalon-black: #000000;
    --etalon-light: #e9e9e9;
    --etalon-dark: #181818;
    --etalon-dark-hover: #1E1E1E;
    --etalon-font-primary: 'Lato', sans-serif;
    --etalon-font-secondry:'Roboto', sans-serif;
    --etalon-gradient: linear-gradient(110.6deg, #2A4032 0.81%, #3A5E46 100%);
  }
  html, body {
    overflow-x: clip;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: var(--etalon-font-primary);
    font-size: 16px;
    font-weight: 400;
    color: var(--etalon-black);
    background-color: var(--etalon-white);
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    color:inherit;
  }
  img {
    display: block;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  
  .btn {
    padding: 16px 40px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 17px;
  }
  .bg-yellow {
    background-color: var(--etalon-yellow);
  }
  .bg-dark {
    background-color: var(--etalon-dark);
  }
  
  /* ----- INTRO----- */
  .intro {
    background: linear-gradient(110.6deg, #2A4032 0.81%, #3A5E46 100%);
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  .nav-logo {
    width: 24px;
    height: 24px;
  } 
  .selected {
    opacity: 100%;
  }
  .desktop-nav-item-link {
    display: block;
    padding: 6px 8px;
  }

  .nav-shopping-cart-icon {
    display: block;
    padding: 12px;
  }
  .top-header-image {
    width: 16px;
    height: 16px;
  }

  

  


